<div class="home-component" layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <md-icon md-svg-src="assets/md-bus.svg" class="s24" aria-label="Bus"></md-icon>
                    <h2 flex md-truncate>&nbsp;{{ home.selectedBusStop.stop_name }}</h2>
                </div>
            </md-toolbar>

            <md-content>
                <md-list class="md-dense" flex>
                    <md-subheader>Departures</md-subheader>
                    <md-list-item class="md-3-line" ng-if="home.selectedBusStop.departures.length === 0">
                        <div class="md-list-item-text" layout="column">
                            <h3><em>No Departures</em></h3>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-3-line" ng-repeat="departure in home.selectedBusStop.departures">
                        <div class="md-list-item-text" layout="column">
                            <h3><strong>{{ departure.direction }}</strong></h3>
                            <h4>Expected Departure: {{ departure.expected_departure_date || departure.date }} {{ departure.expected_departure_time || departure.best_departure_estimate }}</h4>
                            <p>Line: {{ departure.line_name }}</p>
                            <p>Operator: {{ departure.operator }}</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content flex layout="column">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <md-button aria-label="Display Bus Stops" ng-click="home.displayBusStops()">
                        Display Bus Stops
                    </md-button>
                </div>
            </md-toolbar>

            <div flex>
                <ui-gmap-google-map class="map" control="home.map.control" center="home.map.center" zoom="home.map.zoom" options="home.map.options">
                    <ui-gmap-markers models="home.busStops" coords="'self'" idKey="'atcocode'" click="home.onClickBusMarker" icon="'icon'">
                    </ui-gmap-markers>
                </ui-gmap-google-map>
            </div>
        </md-content>
    </section>
</div>